body{
  background-color: white;
  font-family: 'gt';
}

#hero{
  height: 100vh;
}

.heroGif{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
}

.centeredText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
  font-family: 'bold';
}

@font-face {
  font-family: gt;
  src: url(gt-america-trial-expanded-bold-webfont.woff);
}
