@font-face {
  font-family: gt;
  src: url(../build/gt-america-trial-expanded-bold-webfont.woff);
}

::selection {
  background: #E37CE2;
}

body {
  width: 100vw;
}


nav {
  position: fixed;
  height: 50px;
  width: 350px;
  display: flex;
  top: 30px;
  left: 70px;
  background-color: white;
  border: 2px solid black;
  div {
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      font-family: 'gt-mono';
      color: black;
      font-weight: 600;
    }
  }
  @media only screen and (max-width: 500px) {
    left: 50%;
    transform: translateX(-60%);
    width: 300px;
    }
}

.current {
  background-color: black;
  a{
    color: white;
  }

}


.contentContainer {
  // background-color: Red;
  max-width: 1088px;
  width: 100%;
  margin: auto;
  @media only screen and (max-width: 1200px) {
    width: 85%;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
}

.heroSection {
  width: 100vw;
  height: 100vh;
}

.pictures {
  background-image: url("../img/pictures.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  margin-top: 110vh;
  min-height: 800px;
  height: auto;
  width: 100vw;
  @media only screen and (max-width: 700px) {
    display: none;
  }
  @media only screen and (min-width: 1400px) {
  background-position: right;
  }

}

.BG1 {
  background-image: url("../img/TopBG.png");
  background-size: cover;
  position: absolute;
  z-index: -10000;
  min-height: 800px;
  height: 80vw;
  width: 100vw;

}

.BG2 {
  background-image: url("../img/BottomBG.png");
  background-size: cover;
  position: absolute;
  z-index: -10000;
  margin-top: 850px;
  min-height: 800px;
  height: 3200px;
  width: 100vw;
  @media only screen and (min-width: 1000px) {
    margin-top: 950px;
  }
  @media only screen and (min-width: 1250px) {
    margin-top: 1050px;
  }
  @media only screen and (min-width: 1400px) {
    margin-top: 1150px;
  }
  @media only screen and (max-width: 500px) {
    height: 3700px;
  }

}

.startupLogo {
  width: 50%;
  margin: auto;
  @media only screen and (max-width: 1150px) {
  width: 60%;
  }
  @media only screen and (max-width: 700px) {
    margin-top:200px;
    width: 70%;
    }
}

.heroMore {
  margin: auto;
  font-family: 'gt-mono';
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.downArrow {
  margin: auto;
}

.aboutSection {
  width: 100vw;
  height: 80vh;
  min-height: 600px;
  @media only screen and (max-width: 500px) {
    min-height: 700px;
    }
  // background-color: green;
}

.aboutContainer {
  margin-top: 20px
}

.QuestionsSection {
  width: 100vw;
  height: 290vh;
  min-height: 1900px;
  @media only screen and (max-width: 500px) {
  min-height: 2400px;
  }
  // background-color: purple;
}

h1 {
  font-family: 'gt-bold';
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
  @media only screen and (max-width: 1150px) {
    font-size: 55px
  }
  @media only screen and (max-width: 1000px) {
    font-size: 48px;
  }
  @media only screen and (max-width: 900px) {
    font-size: 44px;
  }
  @media only screen and (max-width: 800px) {
    font-size: 41px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 35px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 35px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 32px;
  }
}

h2 {
  font-family: 'gt-mono';
  font-size: 21px;
  @media only screen and (max-width: 1150px) {
  font-size: 19px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 17px;
  }
  @media only screen and (max-width: 800px) {
    font-size: 15px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

p {
    font-family: 'gt-mono';
    font-size: 15px;
    @media only screen and (max-width: 1000px) {
      font-size: 14px;
    }
    @media only screen and (max-width: 800px) {
      font-size: 13px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 14px;
    }
}

.aboutDescContainer {
  width: 50%;
  p {
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}


.questionsTop {
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.questionMark {
  @media only screen and (max-width: 1150px) {
  width: calc(182px * 0.8);
  height: calc(293px * 0.8);
  }
  @media only screen and (max-width: 1000px) {
    width: calc(182px * 0.65);
    height: calc(293px * 0.65);
  }
  @media only screen and (max-width: 800px) {
    width: calc(182px * 0.5);
    height: calc(293px * 0.5);
  }
  @media only screen and (max-width: 600px) {
    width: calc(182px * 0.3);
    height: calc(293px * 0.3);
  }
}

.questionsTitle {
  text-align: right;
  line-height: 1.3em;
  height: 100%;
  margin-top: 20%; // <--please help, no idea how to get the title to align to the bottom of the div :(
  @media only screen and (max-width: 1150px) {
    margin-top: 16%;
  }
  @media only screen and (max-width: 1000px) {
    margin-top: 12%;
  }
  @media only screen and (max-width: 1000px) {
    margin-top: 10%;
  }
  @media only screen and (max-width: 600px) {
    margin-top: 0%;
  }

}

.questionTitleContainer {
  // background-color: yellow;
  grid-column: none;
}

.questionsContainer {
  width: 75%;
  p {
    margin-bottom: 60px;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.SignupSection {
  width: 100vw;
  height: 60vh;
  // background-color: darkcyan;
}

//brutalizing buttons >:)
button {
  margin-top: 30px;
  font-family: 'gt-mono';
  font-weight: 500;
  text-transform: none;
  font-size: 16px;
  width: 390px;
  height: 61px;
  border-radius: 0;
  background-color: black;
  color: white;
  border: none;
}

#contactButton:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.contactFormContainer{
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.548);
}

.contactForm{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 60%;
  background-color: white;
  border: 4px solid black;
  box-sizing: border-box;
  @media only screen and (max-width: 900px) {
    width: 80%;
  }
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.contactForm h1, .contactFirstRow, .contactSecondRow, .contactThirdRow, .contactFourthRow {
  margin: auto;
  width: 90%;
  input, textarea {
    width: 100%;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
    font-family: "gt-mono";
    height: 2em;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
      padding: 15px;
    }
  }
  p {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

.contactForm span {
  color:red;
}

.contactForm h1 {
  margin-top: 50px;
  font-size: 45px;
  margin-bottom: 40px;
}

.contactSecondRow {
  display: flex;
  div {
    width: 100%;
  }
}

.contactLeft {
  margin-right: 20px;
}

.contactFourthRow {
  display: flex;
  button {
    margin-top: 10px;
    margin-right: 20px;
    width: 180px;
    padding: 20px;
  }
}

.contactThirdRow {
  textarea{
    height: 120px;
    resize: none;
    font-size: 13px;
  }
}

.cancelButton {
  color:black;
  background-color: white;
}

.contactFormContainer {
  display: none;
}

.active{
  display: block;
}

.contactTitle {
  line-height: 1.3em;
}

footer {
  width: 100vw;
  height: 40vh;
  // background: brown;
  div {
    margin:auto;
    width: 280px;
    text-align: center;
    margin-top: 100px;

  }
}

.smiley {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.smiley:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}