h1,h2,h2,h4,h5,p{
    font-family: 'Source Code Pro';
}

html{
    overflow-x: hidden !important;
}

img{
    pointer-events: none;
}

#video {
    width: 100%;
    padding: 0;
    margin: 0;
}

#home{
    display: flex;
    height: 100%;
}

.timer{
    position: relative;
    left: 0px;
    bottom: 10px;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navLogo{
    width: 50%;
    margin-right: 0;
    padding-right: 0;
    margin-left: 20px;
}

video{
    width: 90%;
}

.firstNav{
    margin-left: 40px;
}

.navGif{
    width: 65px;
}

@media only screen and (max-width:1000px){
    nav{
        visibility: hidden;
    }
}

.dots{
    max-width: 100%;
}

nav{
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;

    a:nth-child(1){
        padding: 0 !important
    }

    div:nth-child(1){
        background-color: black;
        display: flex;
        align-items: center;
        color: white;
        transition: .2s ease;
        height: 100%;

        :hover{
            color: #747474;
            transition: .2s ease;
        }
    }

    div:nth-child(2){
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        margin-right: 25px;

        img{
            display: block;
            margin: auto;
            width: 90%;
        }
    }

    div:nth-child(3){
        background-color: #2C4DFF;
        height: 100%;
        padding: 10px 10px;
        transition: .2s ease;
        height: 100%;
    }

    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        text-align: center;
        align-items: center;
        margin-left: 0;
        padding: 10px;
    }
}

.registerButton{
    display: flex;
    height: 100%;
    background-color: #2C4DFF;
    transition: .2s ease;
    padding: 25px 25px;
    font-size: 14px;
    
}

.registerButton:hover{
    background-color: #223fe0;
}

@media only screen and (max-width:1000px){
    .div1{
        svg{
            width: 100%;

        }
        p{
            font-size: 14px !important;
            text-align: center;
            padding-top: 0px !important;
        }

        div{
            padding-top: 400px;
            text-align: center;
        }
    }
}

.div1{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
    }

    p{
        margin-top: 0;
        padding-top: 500px;
        display: inline-block;
        font-size: 18px;
    }
}

@media only screen and (max-width:1000px){
    .theme2020{
        width: 80%;
    }    
}


@media only screen and (max-width:1000px){
    .div1 img{
        width: 80% !important;
    }
}

.div1 img{
    width: 50%;
    display: block;
    margin: auto;
}

.kickoffCount{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 60px;
    bottom: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:1000px){
    .kickoffCount{
        display: none;
    }
}

#countdown{
    font-family: 'Source Code Pro';
    font-size: 18px;
    color: #ffffff;
}

.kickoffTitle{
    font-size: 18px;
    color: #ffffff;
}

.div2{
    height: 100vh;
}

.whatis{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 0;
    color: #ffffff;
    
    a{
        text-decoration: none;
    }

    img{
        width: 100%;
        display: block;
    }

    div:nth-child(1){
        padding: 10%;
        background-color: #2C4DFF;
    }

    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        margin-bottom: 75px;
        color: #ffffff;
    }

    p{
        display: block;
        margin: auto;
        padding: 0;
        font-size: 16px;
    }

    span{
        font-weight: 900;
        color: #FAEB6B;
        border-bottom: 2px solid #FAEB6B;
    }

    button{
        display: flex;
        justify-content: center;
        text-align: center;
        background: white;
        color: #334DDB;
        width: 200px;
        font-family: 'Source Code Pro';
        margin-top: 50px;

        p{
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }

    button:hover{
        background-color: #D6DCFF;
    }

}

.button{
    a{
        text-decoration: none;
        color: black;
    }
}

@media only screen and(max-width:1000px){
    .whatis{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 0;
        margin-bottom: 100px;
    }
}




.oneWeek div{
    padding: 10%;
}

.oneWeek span{
    font-weight: 900;
}

.register-button{
    padding: 0;
    border: 1px solid black;
    width: 250px;
    height: 65px;
    display: block;
    margin: auto;
}

.oneWeek button{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background: white;
    height: 65px;
    color: black;
    width: 250px;
    font-family: 'Source Code Pro';
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    margin-top: 35px;
    transition: .3s ease;

    p{
        display: block;
        margin: auto;
        padding: 0;
        font-size: 16px;
    }
   
}

.oneWeek button:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

.oneWeek h1{
    font-family: 'titling-gothic-fb-extended',sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 51px;
    margin-bottom: 75px;
}

.oneWeek img{
    width: 100%;
    padding: 5px 0px;
}


.oneWeek {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 100px 0;
}

@media only screen and(max-width:1000px){
    .oneWeek{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media only screen and (max-width:1000px){
    .theme{
        h1{
            font-size: 34px !important;
        }
    }
}

.theme2020{
    top: 90px;
    width: 25%;
    mix-blend-mode: overlay;
}

.theme{
    background: rgb(214,155,27);
    background: linear-gradient(90deg, rgba(214,155,27,1) 0%, rgba(177,87,220,1) 100%);

    img{
        display: block;
        margin: auto;
        position: relative;
    }

  

    h1{
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        position: relative;
        top: 35px;
    }

    p{
        color: white;
        text-align: center;
        font-size: 21px;
        position: relative;
        top: 60px;
    }
}

.themeGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 9%;

    img{
        width: 90%;
        margin-bottom: 50px;
        margin-top: 75px;
    }
}

@media only screen and (max-width:1000px){
    .themeGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        img{
            width: 75%;
            padding: 5% 0;
        }
    }
}

.blackBox{
   
    img{
        width: 80%;
    }
}

@media only screen and (max-width:1000px){
    .blackBox{
        margin-top: 50px;
        img{
            width: 100%;
            bottom: 0;
        }
    }
}

.schedule{
    padding: 5% 5%;

    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
    }
}

.scheduleHeader{
    display: flex;
    align-items: center;
    
    a{
        margin-left: auto;
        background-color: #2C4DFF;
        padding: 15px 25px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border: 2px solid black;
        font-size: 16px;
        -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    }

    a:nth-child(3){
        margin-left: 30px;
        background-color: white;
        color: black;
    }
}

.scheduleNav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 25px;
   
    
    a{
        margin-right: 45px;
        font-weight: 700;
        font-size: 18px;
        color: black;
        text-decoration: none;
        border-bottom: 6px solid black;
        padding-bottom: 5px;
    }

    a:nth-child(2){
        color: #A6A6A6;
        font-weight: 400;
        border-bottom: 10px solid transparent;
    }

    a:nth-child(3){
        color: #A6A6A6;
        font-weight: 400;
        border-bottom: 10px solid transparent;
    }
}

.scheduleNav-bottom{
    display: flex;
    align-items: center;
    border-top: 1px solid #e1e1e1;
   
    
    a{
        margin-right: 45px;
        font-weight: 700;
        font-size: 18px;
        color: black;
        text-decoration: none;
        border-top: 6px solid black;
        padding-top: 5px;
    }

    a:nth-child(2){
        color: #A6A6A6;
        font-weight: 400;
        border-top: 10px solid transparent;
    }

    a:nth-child(3){
        color: #A6A6A6;
        font-weight: 400;
        border-top: 10px solid transparent;
    }
}

.scheduleGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;


    div:nth-child(1){
        background-color: #2C4DFF;
    }

    div:nth-child(2){
        background-color: #2C4DFF;
    }

    div:nth-child(3){
        background-color: #2C4DFF;
    }


    div:nth-child(4){
        background-color: #2C4DFF;
    }


    div:nth-child(5){
        background-color: #2C4DFF;
    }
    

    div:nth-child(6){
        background-color: #2C4DFF;
    }

    div:nth-child(7){
        background-color: #2C4DFF;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }
}

@media only screen and (max-width:1000px){
    .scheduleGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.bottomSchedule{
    width: 100% !important;
    padding: 3% 5% !important;
    background-color: #0E2DD6 !important;
    margin-bottom: 0 !important;
    margin-top: 25px !important;
}

.scheduleEvent{
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2{
        padding: 1% 5%;
    }

    p:nth-child(2){
        padding: 0% 5%;
        width: 100%;
        height: 100% !important;
    }

    p:nth-child(3){
        font-weight: 500;
        background-color: black;
        width: 100%;
        bottom: 0;
        margin-bottom: 0;
        //padding: 2% 5%;
    }
}

@media only screen and(max-width:1000px){
    .scedhuleEvent{
        height: 800px;
        padding: 5% 5%;
    }
}

.scheduleEvent:nth-child(1){
    
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0px;
        line-height: 1.3;
    }

    p{
        color: white;
        //margin-top: 5px;
        //width: 100%;
        font-weight: 500;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
        
    }
}

.scheduleEvent:nth-child(2){
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0;
        line-height: 1.3;
    }

    p{
        color: white;
        //padding-top: 0px;
        //margin-top: 5px;
        //width: 90%;
        font-weight: 500;
        margin-bottom: 0px;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
    }
}

.scheduleEvent:nth-child(3){
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0;
        line-height: 1.3;
    }

    p{
        color: white;
        padding-top: 0px;
        margin-top: 5px;
        //width: 90%;
        font-weight: 500;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
    }
}

.scheduleEvent:nth-child(4){
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0;
        line-height: 1.3;
    }

    p{
        color: white;
        padding-top: 0px;
        margin-top: 5px;
        //width: 90%;
        font-weight: 500;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
    }
}

.scheduleEvent:nth-child(5){
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0;
        line-height: 1.3;
    }

    p{
        color: white;
        padding-top: 0px;
        margin-top: 5px;
        //width: 90%;
        font-weight: 500;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
    }
}

.scheduleEvent:nth-child(6){
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0;
        line-height: 1.3;
    }

    p{
        color: white;
        padding-top: 0px;
        margin-top: 5px;
        //width: 90%;
        font-weight: 500;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
    }

    
}

.scheduleEvent:nth-child(7){
    h2{
        font-size: 28px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-bottom: 0;
        line-height: 1.3;
    }

    p{
        color: white;
        padding-top: 0px;
        margin-top: 5px;
        //width: 90%;
        font-weight: 500;
    }

    span:nth-child(1){
        color: white;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 25px;
    }

    
}

.scheduleEvent{
    background-color: #2C4DFF;
}

.lastEvent{
    margin-bottom: 50px;
}



.deliverables{
    background: rgb(214,155,27);
    background: linear-gradient(90deg, rgba(214,155,27,1) 0%, rgba(177,87,220,1) 100%);
    padding: 5% 5%;
}

.deliverablesIntro{
    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #ABC4FF;
        padding-top: 0;

    }
}






.outline{
    font-family: 'titling-gothic-fb-extended',sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}

@media only screen and (max-width:1000px){
    .judges{
        h1{
            font-size: 34px !important;
        }
    }
}

.judges{
    margin-bottom: 0;
    padding-top: 0%;

    h1{
        padding: 5% 5%;
        font-size: 40px;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-top: 0;
        line-height: 1.4;
        padding-bottom: 5%;
    }

    p{
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    img{
        margin: auto;
        display: block;
    }

    div:nth-child(2){
        background-color: #F0F0F0;
        color: black;
        position: relative;
        bottom: 0px;
        padding: 3%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and(max-width:1000px){
    .partnersGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;

        div{
            margin-top: 5%;
        }
        
        img{
            margin-top: 5%;
        }

        div:nth-child(3){
            background-color: #242424;
            margin: auto;
            height: 150px !important;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 5% !important;
    
            img{
                width: 15%;
                display: block;
                margin: auto;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

.partnersGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding: 5% 5%;
    
    img{
        width: 75%;
        margin: auto;
        display: block;
    }


    div{
        background-color: white;
        transition: .2s ease;
    }

    div:hover{
        opacity: .6;
    }

    div:nth-child(3){
        background-color: #242424;
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            width: 15%;
            display: block;
            margin: auto;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.seda{
    padding: 5%;
}

.partners{
    background-color: black;
    color: white;
    padding-top: 5%;

    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 0 5%;
        font-size: 40px;
        line-height: 1.1;
    }

    p{
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    img{
        margin: auto;
        display: block;
    }

}

.team{
    background: #2C4DFF;
    color: white;
    padding: 5% 5%;

    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        font-size: 40px;
        margin-bottom: 75px;
    }
}

@media only screen and (max-width:1000px){
    .teamGrid{
        display: grid !important; 
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 0px;
        
    }
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 35px;
    margin-bottom: 50px;

    img{
        max-width: 30%;
        margin-right: 10px;
    }

    div{
        display: flex;
        align-items: flex-start;    
    }

    h2{
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        margin-top: 0;
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 1.3;
    }

    p{
        margin-top: 5px;
        margin-left: 0;
        line-height: 1.2;
        color: #bdc7ff;
    }

    a{
        text-decoration: none;
        color: white;
    }

}

.name{
    flex-direction: column;
}

@media only screen and (max-width:1000px){
    .questionIntro{
        h1{
            font-size: 30px !important;
        }
    }
}

.questionIntro{
    padding: 0 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    
    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
    }

}

.boldFAQ{
    font-weight: 900;
}

.questionsGrid {
    padding: 0 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0px;

    h2{
        font-weight: 900;
        font-size: 21px;
        margin-top: 0;
        margin-bottom: 0;
    }

    p{
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 0;
    }

    img{
        width: 100%;
        margin: 0;
        padding: 0;
        float: right;
    }
}

@media only screen and (max-width:1000px){
    .questionsGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 0px;
    }
}

@media only screen and (max-width:1000px){
    .final{
        img{
            width: 100%;
        }

        div{
            flex-direction: column;
        }
    }
}

@media only screen and(max-width:1000px){
    .startupLogo{
        padding-top: 100px;
    }
}

.startupLogo{
    padding-top: 100px;
}

.bottomLogo{
    padding: 25px 0;
}

.final{
    background-color: #1A1A1A;


    svg{
        width: 50%;
        display: block;
        margin: auto;
    }

    img{
        display: block;
        margin-top: auto;
        width: 60%;
        text-align: center;
    }   

    a{
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        margin: auto;
        height: 60px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease;
    }

    div:nth-child(2){
        background-color: black;
        width: 100%;
        height: 60px;
        display: flex;
    }

    span{
        font-weight: 900;
    }

}

@media only screen and (max-width:1000px){
    .bottomLink{
        font-size: 12px;
    }
}


.bottomLink:hover{
    background-color: #3E3E3E;
}

.deliverablesHeader{
    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        font-size: 40px;
        line-height: 1.4;
    }
}

@media only screen and (max-width:1000px){
    .deliverablesHeader{
        h1{
            font-size: 25px !important;
        }
    }
}

.delivTitle{
    display: flex;
    align-items: center;

    img{
        margin-left: auto;
        right: 0;
    }

    h1{
        font-size: 96px !important;
    }
}

@media only screen and (max-width:1000px){
    .deliverablesGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 5%;

        div{
            display: block !important;
        }

        img{
            width: 100%;
            flex-direction: column;
            
        }
    }
}


.deliverablesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin-top: 50px;

    img{
        max-width: 30%;
    }

    div{
        display: flex;
    }

    h1{
        font-family: 'titling-gothic-fb-extended',sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
        color: white;
    }

    p{
        max-width: 90%;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }

    a{
        font-weight: 900;
        text-decoration: none;
        color: white;
    }

}

.column{
    flex-direction: column;
}

.outline{
    font-family: 'titling-gothic-fb-extended',sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 61px;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}

