#hero{
    height: 100vh;
    background-color: white;
}

.hero-gif{
    width: 100%;
    padding: 10%;
    position: absolute;
    top:50%;
    left: 0%;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
}

.heroGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

#mobileCountdown{
    font-family: 'gt-mono';
    color: #1F3EF3;
    font-size: 12px;
    text-align: center;
    margin-top: 35px;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
}

#paragraphMobile{
    height: 100vh;
    font-family: 'gt-mono';
    color: #1F3EF3;
    font-size: 12px;
    padding: 8%;
}


  
  .picContainerMobile img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5%;
    pointer-events: none; // <-- you can get rid of this if you want. it just disables dragging images
  }

  .mobileLogo{
      width: 20%;
      margin-bottom: 8px;
  }

.blueLineMobile{
    width: 100%;
}

.paragraphMobile{
    border-bottom: 1px solid #1F3EF3;
    padding-bottom: 30px;
}

.infoLineMobile{
    width: 100%;
    font-size: 11px;
    margin-right: 11px;
}